<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- provide customised section name -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- This section is for log4net log file generation purpose -->
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="..\..\..\Automation_Report\Log\log_%date{dd-MM-yyyy}.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--   <param name="ConversionPattern" value="%w  [%5p]  %d{hh:mm:ss dd-MM-yy }  %M    %m%n" />-->
        <param name="ConversionPattern" value="%d{dd-MMM-yyyy hh:mm:ss} [%5p] %M %m%n"/>
      </layout>
    </appender>
  </log4net>
 <system.diagnostics>
    <switches>
      <add name="XmlSerialization.PregenEventLog" value="1"/>
    </switches>
  </system.diagnostics>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
